.bg-1{background-color: #EEEDEB;}
.bg-2{background-color: #E6B9A6;}
.bg-3{background-color: #939185;}
.bg-4{background-color: #2F3645;}
.bg-5{background-color: #667BC6;}
.bg-6{background-color: #FDFFD2;}
.bg-6{background-color: #088395;}
.bg-7{background-color: #071952;}
.bg-8{background-color: #973131;}
.bg-9{background-color: #F6DCAC;}
.bg-10{background-color: #FEAE6F;}
.bg-11{background-color: #F6FAB9;}
.bg-12{background-color: #D2649A;}
.bg-13{background-color: #8E3E63;}
.bg-14{background-color: #C73659;}
.bg-15{background-color: #A91D3A;}
